.footer {
  background-color: $clr-bcg-primary;
  text-transform: capitalize;
  padding: $padding-section-default;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include normalizeForAll;

  @include respond(tab-portrait) {
    flex-direction: column;
    gap: 2rem;
  }

  @include respond(phone) {
    font-size: 160%;
  }

  &-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.6rem;
    color: $clr-white-1;

    & a {
      color: $clr-white-1;

      &:hover {
        text-decoration: underline;
      }
    }

    &-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;
    }
    &-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & input {
      height: 4rem;
      width: 30rem;
      outline: none;
      border: none;
      padding-left: 0.5rem;
      font-size: $fs-regular;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;

      @include respond(tab-portrait) {
        width: 40rem;
      }
      @include respond(phone) {
        width: 50rem;
      }
    }

    & button {
      color: $clr-white-1;
      font-size: $fs-regular;
      background-color: $clr-violet;
      font-weight: $fw-bold;
      padding: 0 1.5rem;
      height: 4rem;
      text-transform: uppercase;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}
