.blogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  & .blog {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h3 {
      text-align: center;
      height: 8rem;
    }

    & img {
      width: 15rem;
      height: 10rem;
      object-fit: cover;
    }

    & p {
      height: 8rem;

      & span {
        color: blue;
        text-decoration: underline;
      }
    }
  }
}
