$clr-white: var(--clr-white);
$clr-black: var(--clr-black);
$clr-bcg-primary: var(--clr-bcg-primary);
$clr-bcg-primary-light: var(--clr-bcg-primary-light);
$clr-bcg-primary-dark: var(--clr-bcg-primary-dark);
$clr-bcg-secondary: var(--clr-bcg-secondary);
$clr-bcg-secondary-light: var(--clr-bcg-secondary-light);
$clr-bcg-secondary-dark: var(--clr-bcg-secondary-dark);
$clr-gray: var(--clr-gray);
$clr-gray-light: var(--clr-gray-light);
$clr-gray-dark: var(--clr-gray-dark);
$clr-purple: var(--clr-purple);
$clr-purple-light: var(--clr-purple-light);
$clr-purple-dark: var(--clr-purple-dark);
$clr-violet: var(--clr-violet);
$padding-section-default: 3rem;
$fs-small: 1.2rem;
$fs-regular-small: 1.4rem;
$fs-regular: 1.6rem;
$fs-big: 2rem;
$fs-bigger: 2.4rem;
$fs-giant: 3.6rem;
$fs-huge: 5.4rem;
$fs-huge-big: 5.6rem;
$fw-bold: 600;
