$clr-white: var(--clr-white);
$clr-black: var(--clr-black);
$clr-bcg-primary: var(--clr-bcg-primary);
$clr-bcg-primary-light: var(--clr-bcg-primary-light);
$clr-bcg-primary-dark: var(--clr-bcg-primary-dark);
$clr-bcg-secondary: var(--clr-bcg-secondary);
$clr-bcg-secondary-light: var(--clr-bcg-secondary-light);
$clr-bcg-secondary-dark: var(--clr-bcg-secondary-dark);
$clr-gray: var(--clr-gray);
$clr-gray-light: var(--clr-gray-light);
$clr-gray-dark: var(--clr-gray-dark);
$clr-purple: var(--clr-purple);
$clr-purple-light: var(--clr-purple-light);
$clr-purple-dark: var(--clr-purple-dark);
$clr-violet: var(--clr-violet);
$clr-violet-dark: var(--clr-violet-dark);
$padding-section-default: 3rem;
$fs-small: 1.2rem;
$fs-regular-small: 1.4rem;
$fs-regular: 1.6rem;
$fs-big: 2rem;
$fs-bigger: 2.4rem;
$fs-giant: 3.6rem;
$fs-huge: 5.4rem;
$fs-huge-big: 5.6rem;
$fw-bold: 600;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$clr-white-1: var(--clr-white-1);
$clr-white-2: var(--clr-white-2);

$clr-gray-1: var(--clr-gray-1);
$clr-gray-2: var(--clr-gray-2);
$clr-gray-3: var(--clr-gray-3);
$clr-gray-4: var(--clr-gray-4);
$clr-gray-5: var(--clr-gray-5);

$clr-blue-1: var(--clr-blue-1);
$clr-blue-2: var(--clr-blue-2);
$clr-blue-3: var(--clr-blue-3);
$clr-blue-4: var(--clr-blue-4);
$clr-blue-5: var(--clr-blue-5);
$clr-blue-6: var(--clr-blue-6);
$clr-blue-7: var(--clr-blue-7);
$clr-blue-8: var(--clr-blue-8);
$clr-blue-9: var(--clr-blue-9);
$clr-blue-10: var(--clr-blue-10);
$clr-blue-11: var(--clr-blue-11);
$clr-blue-12: var(--clr-blue-12);
$clr-blue-13: var(--clr-blue-13);

$clr-pink-1: var(--clr-pink-1);
$clr-pink-2: var(--clr-pink-2);
$clr-pink-3: var(--clr-pink-3);
$clr-pink-4: var(--clr-pink-4);
$clr-pink-5: var(--clr-pink-5);
$clr-pink-6: var(--clr-pink-6);
$clr-pink-7: var(--clr-pink-7);

$clr-red-1: var(--clr-red-1);
$clr-red-2: var(--clr-red-2);
$clr-red-3: var(--clr-red-3);
$clr-red-4: var(--clr-red-4);
$clr-red-5: var(--clr-red-5);
$clr-red-6: var(--clr-red-6);
$clr-red-7: var(--clr-red-7);
$clr-red-8: var(--clr-red-8);
$clr-red-9: var(--clr-red-9);
$clr-red-10: var(--clr-red-10);

$clr-peach-1: var(--clr-peach-1);
$clr-peach-2: var(--clr-peach-2);
$clr-peach-3: var(--clr-peach-3);

$clr-yellow-1: var(--clr-yellow-1);
$clr-yellow-2: var(--clr-yellow-2);
$clr-yellow-3: var(--clr-yellow-3);

$clr-green-1: var(--clr-green-1);
$clr-green-2: var(--clr-green-2);
$clr-green-3: var(--clr-green-3);
$clr-lemon-4: var(--clr-lemon-4);
$clr-green-5: var(--clr-green-5);
$clr-green-6: var(--clr-green-6);
$clr-green-7: var(--clr-green-7);
$clr-green-8: var(--clr-green-8);
$clr-green-9: var(--clr-green-9);

$clr-violet-1: var(--clr-violet-1);
$clr-violet-2: var(--clr-violet-2);
$clr-violet-3: var(--clr-violet-3);
$clr-violet-4: var(--clr-violet-4);

$clr-purple-1: var(--clr-purple-1);
$clr-purple-2: var(--clr-purple-2);
$clr-purple-3: var(--clr-purple-3);

$clr-brown-1: var(--clr-brown-1);
$clr-brown-2: var(--clr-brown-2);
$clr-brown-3: var(--clr-brown-3);
$clr-brown-4: var(--clr-brown-4);
$clr-brown-5: var(--clr-brown-5);
$clr-brown-6: var(--clr-brown-6);

$clr-charcoal-1: var(--clr-charcoal-1);
$clr-charcoal-2: var(--clr-charcoal-2);
$clr-charcoal-3: var(--clr-charcoal-3);
$clr-charcoal-4: var(--clr-charcoal-4);
$clr-charcoal-5: var(--clr-charcoal-5);
$clr-charcoal-6: var(--clr-charcoal-6);
$clr-charcoal-7: var(--clr-charcoal-7);
$clr-charcoal-8: var(--clr-charcoal-8);

$clr-black-1: var(--clr-black-1);
