.blog {
  border: 1px solid $clr-bcg-primary-dark;
  background-color: $clr-bcg-primary;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1000px) {
    padding: 1rem;
  }

  &-title {
    text-align: center;
    height: 8rem;
    display: flex;
    align-items: center;
  }

  &-image {
    object-fit: cover;
    width: 100%;
  }

  &-desc {
    height: 7rem;
    font-size: $fs-regular-small;
    padding-top: 1.6rem;

    & button {
      color: $clr-violet;
      text-decoration: underline;
    }
  }
}
