.blog {
  border: 1px solid $clr-bcg-primary-dark;
  background-color: $clr-bcg-primary;
  border-radius: 2rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &-title {
    text-align: center;
    font-size: $fs-big;
  }

  &-desc {
    font-size: $fs-regular;

    & a {
      color: $clr-violet;
      text-decoration: underline;
      transition: color 0.2s;

      &:hover {
        color: $clr-violet-dark;
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-views {
    text-align: center;
    font-size: $fs-big;
  }

  &-reactions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    &-btn {
      font-size: $fs-bigger;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      svg {
        color: $clr-bcg-secondary-light;
      }

      &.active {
        svg {
          color: $clr-violet;
        }
      }
    }
  }
}
