.blog {
  border: 1px solid $clr-bcg-primary-dark;
  background-color: $clr-bcg-primary;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include normalizeForAll;

  @include respond(tab-landscape) {
    padding: 1rem;
  }

  @include respond(tab-portrait) {
    padding: 3rem;
  }

  &-title {
    text-align: center;
    height: 8rem;
    display: flex;
    align-items: center;

    @include respond(tab-landscape) {
      margin-bottom: 1.5rem;
      font-size: $fs-big;
    }

    @include respond(tab-portrait) {
      font-size: $fs-big;
    }

    @include respond(phone) {
      font-size: $fs-giant;
      margin-bottom: 3rem;
    }
  }

  &-image {
    object-fit: cover;
    width: 100%;
  }

  &-desc {
    height: 7rem;
    font-size: $fs-regular;

    @include respond(tab-portrait) {
      font-size: $fs-big;
      margin-bottom: 1rem;
    }

    @include respond(phone) {
      font-size: $fs-bigger;
    }

    & a {
      color: $clr-violet;
      text-decoration: underline;
    }
  }

  &-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;

    & button {
      background-color: $clr-violet;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      font-size: $fs-big;
      text-transform: uppercase;
      font-weight: $fw-bold;
    }
  }
}
