.cart-btn {
  position: relative;
  font-size: $fs-giant;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $clr-violet;

  span {
    position: absolute;
    color: $clr-white-1;
    top: -0.2rem;
    right: -0.2rem;
    z-index: 100;
    font-size: $fs-regular;
    padding: 0 0.5rem;
    font-weight: 900;
    text-align: center;
    background-color: $clr-violet;
    border-radius: 50%;
    cursor: pointer;
  }
}
