.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 65rem;
  width: 45rem;

  &__side {
    height: 65rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem $clr-black;
    overflow: hidden;

    &--front {
      background-color: $clr-bcg-primary;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $clr-yellow-1,
          $clr-yellow-3
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $clr-green-2,
          $clr-green-7
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $clr-blue-8,
          $clr-blue-13
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $clr-yellow-1,
          $clr-yellow-3
        ),
        url(../../utils/images/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $clr-green-2,
          $clr-green-7
        ),
        url(../../utils/images/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $clr-blue-8,
          $clr-blue-13
        ),
        url(../../utils/images/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $clr-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    line-height: 4.5rem;

    @supports (-webkit-box-decoration-break: clone) or
      (box-decoration-break: clone) {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        $clr-yellow-1,
        $clr-yellow-3
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        $clr-green-2,
        $clr-green-7
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        $clr-blue-8,
        $clr-blue-13
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: $fs-regular;
        font-weight: $fw-bold;
        padding: 1.5rem;
        color: $clr-bcg-secondary-light;

        &:not(:last-child) {
          border-bottom: 2px solid $clr-bcg-primary-light;
        }
      }
    }
  }

  &__cta {
    @include centerHW;
    width: 90%;
    text-align: center;
  }

  &__price-box {
    margin-bottom: 8rem;
    color: $clr-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 1rem;
    background-color: $clr-white;
    box-shadow: 0 1.5rem 4rem $clr-black, 0.15;

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        border-radius: 0;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        }
      }
    }

    &__details ul li {
      font-size: 1.4rem;
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &:hover &__side--back {
      transform: rotateY(0);
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}

.btn {
  background-color: $clr-white;
  padding: 1rem 2rem;
  font-size: $fs-big;
  border-radius: 3rem;
  color: $clr-violet;
  font-weight: $fw-bold;
}
