.change-theme {
  color: $clr-violet;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
  }

  &-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      font-size: $fs-giant;

      @include respond(500px) {
        font-size: $fs-bigger;
      }
    }

    &.inactive {
      opacity: 0;
      animation: sunSet 1s ease-in;
      display: none;
    }

    &.active {
      display: flex;
      animation: sunRise 1s ease-in;
    }
  }
}
