.language {
  &-selector {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $clr-white-1;

    &:hover {
      color: $clr-white-2;
    }
  }

  &-toggle {
    font-weight: $fw-bold;
    text-transform: capitalize;
  }

  &-dropdown {
    position: absolute;
    top: 4.5rem;
    width: 10rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $clr-charcoal-2;
    color: $clr-white-1;
  }

  &-option {
    text-transform: capitalize;
    padding: 1rem 0;
    width: 100%;

    &:hover {
      background-color: $clr-charcoal-3;
    }
  }
}
