.language-selector {
  background-color: $clr-bcg-primary-light;
  height: 3rem;
  border-radius: 0.5rem;
  color: $clr-violet;
  font-size: $fs-big;
  text-transform: uppercase;
  border-color: $clr-violet;

  @include respond(500px) {
    font-size: $fs-regular;
    height: 2.5rem;
  }

  &:focus {
    outline: none;
  }

  & option {
    color: $clr-violet;
    background-color: $clr-bcg-primary;
    font-size: $fs-big;
    text-align: center;
  }
}
