.logout {
  & button {
    // color: $clr-violet;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease-out;

    // &:hover {
    //   // color: $clr-purple;
    // }
  }
}
