.navigation {
  background-color: $clr-bcg-primary;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(800px) {
    justify-content: flex-end;
  }

  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 1.2rem;

    @include respond(800px) {
      display: none;
    }
    a {
      color: $clr-white-1;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 1.2rem;
    gap: 2rem;
    position: relative;

    @include respond(800px) {
      width: 100%;
    }
  }
}
