.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $clr-white-1;
  padding: 0 1.2rem;
  text-transform: uppercase;
  font-weight: $fw-bold;

  &:hover {
    opacity: 0.85;
    // background-color: $clr-bcg-primary-light;
  }
}
