.navigation {
  background-color: $clr-charcoal-5;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $clr-white-1;

  @include respond(tab-portrait) {
    display: none;
  }

  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 1.2rem;
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 3rem;
    gap: 3rem;
  }
}
