.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border: 0.3rem solid $clr-bcg-secondary-light;
  border-radius: 0.8rem;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 1rem $clr-bcg-primary-dark;
  background-color: $clr-bcg-primary-light;

  p {
    font-size: $fs-regular;
  }

  &.loading {
    transition: all;
    backface-visibility: hidden;
    border-color: $clr-gray-dark;

    .product {
      &-title {
        @include loadAnimation;
        width: 100%;
        margin: 1rem 0;
      }

      &-img {
        @include loadAnimation;
        height: 14rem;
        background-color: $clr-bcg-primary-dark;
      }

      &-price {
        @include loadAnimation;
        width: 100%;
        height: 1.5rem;
        margin-top: 1rem;
        background-color: $clr-bcg-primary-dark;
      }

      &-desc {
        @include loadAnimation;
        width: 100%;
        height: 4rem;
        margin: 1rem 0;
        background-color: $clr-bcg-primary-dark;
      }
    }
  }

  &-title {
    padding: 1.2rem 0 1rem;
    font-weight: $fw-bold;

    @media screen and (max-width: 1000px) {
      font-size: 60%;
    }
  }

  &-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;

    & img {
      width: 100%;
      height: 15rem;
      transition: all 1.1s;
      object-fit: cover;
    }
  }

  &-container {
    position: absolute;
    left: 50%;
    top: 8rem;
    transform: translateX(-50%);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }

  &-btn,
  &-link {
    display: block;
    background-color: $clr-violet;
    text-transform: capitalize;
    font-weight: $fw-bold;
    color: $clr-white-1;
    font-size: $fs-bigger;
    text-align: center;
    width: 60%;
    height: 5rem;
    line-height: 5rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: $clr-purple-dark;
    }
  }

  &-price {
    font-weight: $fw-bold;
  }

  &-desc {
    font-size: $fs-small;
    padding: 0.5rem 0 1.2rem;

    @include respond(tab-portrait) {
      font-size: $fs-big;
    }
    @include respond(phone) {
      font-size: $fs-bigger;
    }
  }

  &:hover {
    background-color: $clr-bcg-secondary-dark;
    border-color: $clr-bcg-secondary-light;
    box-shadow: 0 0 2.5rem $clr-bcg-primary-dark;

    & .product-container {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }

    .product-image img {
      transform: scale(1.2);
      opacity: 0.3;
    }
  }
}
