.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
  border: 1px solid $clr-gray-light;
  border-radius: 0.3rem;
  transition: all 0.3s;
  height: 100%;
  overflow: hidden;

  &.loading {
    width: 18vw;
    height: 26.6rem;
    transition: all;
    backface-visibility: hidden;
    border-color: $clr-gray-dark;

    .product {
      &-title {
        @include loadAnimation;
        width: 100%;
        margin: 1rem 0;
      }

      &-img {
        @include loadAnimation;
        height: 14rem;
        background-color: $clr-bcg-primary-dark;
      }

      &-price {
        @include loadAnimation;
        width: 100%;
        height: 1.5rem;
        margin-top: 1rem;
        background-color: $clr-bcg-primary-dark;
      }

      &-desc {
        @include loadAnimation;
        width: 100%;
        height: 2.5rem;
        margin: 1rem 0;
        background-color: $clr-bcg-primary-dark;
      }
    }
  }

  &-title {
    padding: 1.2rem 0 1rem;
    font-weight: $fw-bold;

    @media screen and (max-width: 1000px) {
      font-size: 60%;
    }
  }

  &-img {
    position: relative;
    width: 100%;

    & img {
      width: 100%;
      height: 14rem;
      object-fit: cover;
    }
  }

  .cart-btn {
    position: absolute;
    left: 50%;
    bottom: 1.2rem;
    transform: translateX(-50%);
    background-color: $clr-purple;
    text-transform: capitalize;
    font-weight: $fw-bold;
    color: $clr-white;
    width: 95%;
    height: 3rem;
    border-radius: 0.5rem;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    box-shadow: 1px 2px 15px $clr-black;
    transition: all 0.3s;
  }

  &-price {
    font-weight: $fw-bold;
  }

  &-desc {
    font-size: $fs-small;
    padding: 0.5rem 0 1.2rem;
  }

  &:hover {
    background-color: $clr-bcg-secondary-dark;
    border-color: $clr-gray;
    box-shadow: 2px 4px 24px $clr-bcg-primary;

    & .cart-btn {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }
  }
}
