.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include normalizeForAll;

  & input {
    height: 3.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: $clr-gray-light;
    padding: 0 0.5rem;

    @include respond(1300px) {
      height: 3rem;
    }
    @include respond(900) {
      height: 2.7rem;
    }
  }

  & button {
    text-transform: uppercase;
    font-size: $fs-big;
    font-weight: 600;
  }
}
