.sidebar {
  position: absolute;
  top: 6rem;
  right: 0;
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  height: 0;
  overflow: hidden;
  transition: height 0.6s ease-in-out;
  background-color: $clr-bcg-primary;
  z-index: 10;

  @include respond(800px) {
    gap: 0.5rem;
    display: flex;
  }

  &-btn {
    display: none;
    color: $clr-violet;
    margin-right: 1rem;
    font-size: $fs-huge;
    justify-content: center;
    align-items: center;

    @include respond(800px) {
      display: flex;
    }
    @include respond(500px) {
      font-size: $fs-giant;
    }

    &:hover {
      color: $clr-violet-dark;
    }
  }

  &-open {
    height: max-content;
    padding: 0 0 1rem;

    @include respond(500px) {
      flex-direction: column;
    }
  }

  a {
    @include respond(500px) {
      font-size: $fs-small;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
