.single-product {
  display: flex;
  flex-direction: column;

  &-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &-title {
    font-size: $fs-big;
    margin-bottom: 1rem;
    font-weight: $fw-bold;
    text-transform: capitalize;

    @include respond(tab-portrait) {
      font-size: $fs-bigger;
    }
    @include respond(phone) {
      font-size: $fs-giant;
    }
  }

  &-price {
    font-size: $fs-regular;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: $clr-violet;

    @include respond(tab-portrait) {
      font-size: $fs-bigger;
    }
    @include respond(phone) {
      font-size: $fs-giant;
    }
  }

  &-desc {
    font-size: $fs-regular-small;

    @include respond(tab-portrait) {
      font-size: $fs-big;
    }
    @include respond(phone) {
      font-size: $fs-giant;
    }
  }

  &-img {
    object-fit: cover;

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem;
      margin-top: 2rem;
      @media screen and (max-width: 750px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        flex-wrap: wrap;
        margin-top: 2rem;
      }

      &-small {
        object-fit: cover;

        &.active {
          border: 2px solid $clr-violet;
        }
      }
    }
  }

  .cart-btn {
    background-color: $clr-purple;
    text-transform: capitalize;
    font-weight: $fw-bold;
    color: $clr-white;
    font-size: $fs-small;
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 2rem;

    @include respond(tab-portrait) {
      width: 20rem;
      height: 6rem;
      font-size: $fs-big;
    }
    @include respond(phone) {
      width: 28rem;
      height: 8rem;
      font-size: $fs-giant;
    }
  }
}
@media screen and (max-width: 750px) {
  .single-product-img {
    width: 100%;
  }
}
