.single-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 120rem;
  margin: 0 auto;

  &-title {
    font-size: $fs-giant;
    font-weight: $fw-bold;
    margin-bottom: 2rem;
  }

  &-content {
    text-align: justify;
  }

  &-reactions {
    color: $clr-purple;
    margin-top: 2.4rem;
    font-size: $fs-big;
    letter-spacing: 0.1rem;
  }

  &-tag {
    padding: 0.5rem 1.3rem;
    background-color: $clr-bcg-primary-dark;
    color: $clr-violet;
    border-radius: 1rem;
    text-transform: uppercase;

    &-container {
      margin-top: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      & span {
        margin-right: 1.6rem;
      }
    }
  }

  .blog-reactions button {
    font-size: $fs-huge;
  }

  .comments {
    width: 100%;

    &-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        font-size: $fs-big;
        font-weight: $fw-bold;
        text-transform: capitalize;
      }

      &-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }

      &-btn {
        width: 100%;
        background-color: $clr-violet;
        padding: 1rem 0;
        font-size: $fs-bigger;
        font-weight: $fw-bold;
        text-transform: capitalize;
        color: $clr-white-1;
        @include respond(500px) {
          font-size: $fs-regular;
        }
      }
    }

    &-textarea {
      width: calc(100% - 1.1rem);
      padding: 0.5rem;
      font-size: $fs-regular;
      height: 10rem;
    }

    .comment {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 10rem 18rem 1fr;
      background-color: $clr-bcg-primary-light;
      padding: 1rem;
      row-gap: 2rem;
      column-gap: 1rem;
      border-radius: 1rem;

      @include respond(500px) {
        grid-template-columns: repeat(3, 1fr);
      }

      &-text {
        grid-column: 1/ -1;
        font-size: $fs-regular;
      }

      textarea {
        color: $clr-bcg-primary;
        padding: 0.5rem;
      }

      &-vote-container {
        display: flex;
        gap: 1rem;
      }

      &-reaction-btn {
        font-size: $fs-big;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        svg {
          color: $clr-bcg-secondary-light;
        }

        &.active svg {
          color: $clr-violet;
        }
      }

      &-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button {
          padding: 0.5rem 1rem;
          background-color: $clr-violet;
          font-size: $fs-regular;
          text-transform: uppercase;
          border-radius: 0.5rem;
          color: $clr-white-1;

          @include respond(500px) {
            font-size: $fs-small;
          }

          &:hover {
            background-color: $clr-purple;
          }
        }
      }
    }
  }
}
