.sort {
  display: flex;
  gap: 1rem;

  @include normalizeForAll;

  &-select {
    font-size: $fs-big;
    text-transform: capitalize;
    color: $clr-charcoal-2;

    @include respond(tab-portrait) {
      font-size: $fs-big;
    }
    @include respond(phone) {
      font-size: $fs-bigger;
    }
  }

  &-btn {
    color: $clr-purple;
    font-size: $fs-big;
    text-transform: capitalize;
    font-weight: $fw-bold;

    @include respond(phone) {
      font-size: $fs-giant;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
