.sort {
  display: flex;
  gap: 1rem;

  @include respond(800px) {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  &-select {
    font-size: $fs-big;
    text-transform: capitalize;
    color: $clr-charcoal-2;

    @include respond(1300px) {
      font-size: $fs-regular;
    }
    @include respond(900px) {
      font-size: $fs-regular-small;
    }
    @include respond(550px) {
      font-size: $fs-small;
    }
  }

  &-btn {
    color: $clr-purple;
    font-size: $fs-big;
    text-transform: capitalize;
    font-weight: $fw-bold;

    @include respond(1300px) {
      font-size: $fs-regular;
    }
    @include respond(900px) {
      font-size: $fs-regular-small;
    }
    @include respond(550px) {
      font-size: $fs-small;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
