.sort {
  display: flex;
  gap: 1rem;

  &-select {
    padding: 0 0.5rem 0.5rem;
    font-size: $fs-regular;
    text-transform: capitalize;
    color: $clr-bcg-primary;
  }

  &-btn {
    color: $clr-purple;
    font-size: $fs-big;
    text-transform: capitalize;

    &:hover {
      opacity: 0.8;
    }
  }
}
