.user {
  position: relative;
  height: 100%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &-loading {
    & div {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      transform: translateY(-0.3rem);
      @include userLoadAnimation;
    }
  }

  &-icon {
    font-size: $fs-bigger;
    color: $clr-violet;
  }

  &-dropdown {
    position: absolute;
    top: 4.5rem;
    width: 10rem;
    right: -4rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $clr-charcoal-2;
    color: $clr-white-1;

    & > * {
      padding: 0.5rem 0;
      width: 100%;
      text-align: center;
      font-size: $fs-regular;
      text-transform: capitalize;

      &:hover {
        background-color: $clr-charcoal-3;
      }
    }
  }
}
