.user {
  position: relative;
  height: 100%;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.loading {
    & div {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      @include loadAnimation;
    }
  }

  &-login {
    padding: 0.5rem 1rem;
    font-size: $fs-regular;
    text-transform: uppercase;
    background-color: $clr-violet;
    transition: background-color 0.3s;

    &:hover {
      background-color: $clr-purple;
    }
  }

  &-icon {
    font-size: $fs-giant;
    color: $clr-violet;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-dropdown {
    z-index: 1000;
    position: absolute;
    top: 5.5rem;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $clr-charcoal-2;
    color: $clr-white-1;
    box-shadow: 0rem 0.5rem 1rem $clr-bcg-primary-dark-transparent;

    & > * {
      padding: 1rem 0;
      width: 100%;
      text-align: center;
      font-size: $fs-regular;
      text-transform: capitalize;

      &:hover {
        background-color: $clr-charcoal-3;
      }
    }
  }
}
