*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-sizing: inherit;
  font-family: inherit;
  color: inherit;
}

// media query manager
/*
0-600px:    phone
600-900px:  tablet portrait
900-1200px: tablet landscape
1800px+     big desktop

$breakpoint argument choices:
- phone
- tab-portrait
- tab-landscape
- big-desktop

order: base + typography > general layout + grid 
      > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-portrait {
    // 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-landscape {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

// 75% of 16px = 12px
// 62.5% of 16px = 10px
// 50% of 16px = 8px
// 37.5% of 16px = 6px
// 25% of 16px = 4px

html {
  font-size: 62.5%;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-bcg-primary: #25262c;
  --clr-bcg-primary-light: #40424d;
  --clr-bcg-primary-dark: #1a1a1f;
  --clr-bcg-secondary: #2e3037;
  --clr-bcg-secondary-light: #7d8396;
  --clr-bcg-secondary-dark: #212227;
  --clr-gray: #808080;
  --clr-gray-light: #d3d3d3;
  --clr-gray-dark: #6b6b6b;
  --clr-purple: #c955ff;
  --clr-purple-light: #d16dff;
  --clr-purple-dark: #ab46da;
  --clr-violet: #7171e2;
  --clr-violet-dark: #5b5bb8;

  @include respond(tab-landscape) {
    font-size: 50%;
  }
  @include respond(tab-portrait) {
    font-size: 37.5%;
  }
  @include respond(phone) {
    font-size: 25%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

.light {
  --clr-white: #000;
  --clr-black: #fff;
  --clr-bcg-primary: #d1cfc8;
  --clr-bcg-primary-dark: #d1cfc8;
  --clr-bcg-primary-light: #deddd8;
  --clr-bcg-secondary: #dad9d3;
  --clr-bcg-secondary-dark: #bfbdb2;
  --clr-bcg-secondary-light: #e5e5e0;
  --clr-gray: #7f7f7f;
  --clr-gray-light: #2c2c2c;
  --clr-gray-dark: #949494;
  --clr-purple: #36aa00;
  --clr-purple-light: #2e9200;
  --clr-purple-dark: #54b925;
  --clr-violet: #86861d;
  --clr-violet-dark: #646416;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: var(--clr-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
