*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-sizing: inherit;
  font-family: inherit;
  color: inherit;
}

// media query manager
/*
0-600px:    phone
600-900px:  tablet portrait
900-1200px: tablet landscape
1800px+     big desktop

$breakpoint argument choices:
- phone
- tab-portrait
- tab-landscape
- big-desktop

order: base + typography > general layout + grid 
      > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-portrait {
    // 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-landscape {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

// 75% of 16px = 12px
// 62.5% of 16px = 10px
// 50% of 16px = 8px
// 37.5% of 16px = 6px
// 25% of 16px = 4px

html {
  font-size: 62.5%;
  // --clr-white: #fff;
  // --clr-black: #000;
  // --clr-bcg-primary: #25262c;
  // --clr-bcg-primary-light: #40424d;
  // --clr-bcg-primary-dark: #1a1a1f;
  // --clr-bcg-secondary: #2e3037;
  // --clr-bcg-secondary-light: #7d8396;
  // --clr-bcg-secondary-dark: #212227;
  // --clr-gray: #808080;
  // --clr-gray-light: #d3d3d3;
  // --clr-gray-dark: #6b6b6b;
  // --clr-purple: #c955ff;
  // --clr-purple-light: #d16dff;
  // --clr-purple-dark: #ab46da;
  // --clr-violet: #7171e2;
  // --clr-violet-dark: #5b5bb8;

  --clr-white-1: #ffffff;
  --clr-white-2: #fcf6f5;

  --clr-gray-1: #edf4f2;
  --clr-gray-2: #f1f1f2;
  --clr-gray-3: #d3d3d3;
  --clr-gray-4: #6b6b6b;
  --clr-gray-5: #808080;

  --clr-blue-1: #cee6f2;
  --clr-blue-2: #cadcfc;
  --clr-blue-3: #a1d6e2;
  --clr-blue-4: #66a5ad;
  --clr-blue-5: #90afc5;
  --clr-blue-6: #8aaae5;
  --clr-blue-7: #89abe3;
  --clr-blue-8: #408ec6;
  --clr-blue-9: #1995ad;
  --clr-blue-10: #375e97;
  --clr-blue-11: #2f3c7e;
  --clr-blue-12: #00246b;
  --clr-blue-13: #000435;

  --clr-pink-1: #fdf6f6;
  --clr-pink-2: #fbeaeb;
  --clr-pink-3: #f7c5cc;
  --clr-pink-4: #f98866;
  --clr-pink-5: #ea738d;
  --clr-pink-6: #fa6775;
  --clr-pink-7: #7a2048;

  --clr-red-1: #f96167;
  --clr-red-2: #cc313d;
  --clr-red-3: #e3867d;
  --clr-red-4: #fb6542;
  --clr-red-5: #b85042;
  --clr-red-6: #962e2a;
  --clr-red-7: #f52549;
  --clr-red-8: #cb0000;
  --clr-red-9: #c5001a;
  --clr-red-10: #990011;

  --clr-peach-1: #e7e8d1;
  --clr-peach-2: #fff2d7;
  --clr-peach-3: #f1d3b2;

  --clr-yellow-1: #f9e795;
  --clr-yellow-2: #fee715;
  --clr-yellow-3: #ffbb00;

  --clr-green-1: #c4dfe6;
  --clr-green-2: #a7beae;
  --clr-green-3: #a1be95;
  --clr-lemon-4: #e4ea8c;
  --clr-green-5: #97bc62;
  --clr-green-6: #6ab187;
  --clr-green-7: #20948b;
  --clr-green-8: #2c5f2d;
  --clr-green-9: #31473a;

  --clr-violet-1: #d3c5e5;
  --clr-violet-2: #735da5;
  --clr-violet-3: #7171e2;
  --clr-violet-4: #5b5bb8;

  --clr-purple-1: #d16dff;
  --clr-purple-2: #c955ff;
  --clr-purple-3: #ab46da;

  --clr-brown-1: #73605b;
  --clr-brown-2: #d09683;
  --clr-brown-3: #a43820;
  --clr-brown-4: #763626;
  --clr-brown-5: #46211a;
  --clr-brown-6: #330000;

  --clr-charcoal-1: #7d8396;
  --clr-charcoal-2: #40424d;
  --clr-charcoal-3: #2a3132;
  --clr-charcoal-4: #2e3037;
  --clr-charcoal-5: #25262c;
  --clr-charcoal-6: #212227;
  --clr-charcoal-7: #1a1a1f;
  --clr-charcoal-8: #101820;

  --clr-black-1: #000000;

  // --clr-blue: #2f3c7e;
  // --clr-pink-slate: #fbeaeb;

  // --clr-charcoal: #101820;
  // --clr-yellow-bright: #fee715;

  // --clr-red-light: #f96167;
  // --clr-yellow-light: #f9e795;

  // --clr-red-cherry-dark: #990011;
  // --clr-white-off: #fcf6f5;

  // --clr-blue-baby: #8aaae5;
  // --clr-white: #fff;

  // --clr-blue-dark: #00246b;
  // --clr-blue-light: #cadcfc;

  // --clr-blue-sky: #89abe3;
  // --clr-pink-bubblegum: #ea738d;

  // --clr-red-cherry: #cc313d;
  // --clr-pink-bubblegum-light: #f7c5cc;

  // --clr-green-forest: #2c5f2d;
  // --clr-green-moss: #97bc62;

  // --clr-blue-midnight: #1e2761;
  // --clr-blue-royal: #408ec6;
  // --clr-red-burgundy: #7a2048;

  // --clr-red-terracotta: #b85042;
  // --clr-beige-light: #e7e8d1;
  // --clr-teal-muted: #a7beae;

  // --clr-green-pastel-olive: #a1be95;
  // --clr-pink-salmon: #f98866;

  // --clr-periwinkle-deep: #735da5;
  // --clr-lilac-soft: #d3c5e5;

  // --clr-pink-salmon: #f98866;
  // --clr-peach-soft: #fff2d7;

  // --clr-green-seafoam: #c4dfe6;
  // --clr-blue-light: #66a5ad;

  // --clr-teal: #20948b;
  // --clr-green-light: #6ab187;

  // --clr-green-dark: #31473a;
  // --clr-gray-light: #edf4f2;

  // --clr-red-cranberry: #f52549;
  // --clr-bubblegum: #fa6775;

  // --clr-blue-deep: #375e97;
  // --clr-orange-red: #fb6542;
  // --clr-yellow-orange: #ffbb00;

  // --clr-mauve: #962e2a;
  // --clr-rose-dusty: #e3867d;
  // --clr-blue-gray-soft: #cee6f2;

  // --clr-brown-reddish-dark: #330000;
  // --clr-taupe: #73605b;
  // --clr-brown-peachy-light: #d09683;

  // --clr-blue-navy-dark: #5031ff;
  // --clr-red-scarlet-bright: #cb0000;
  // --clr-lemon-light: #e4ea8c;

  // --clr-blue-teal: #1995ad;
  // --clr-blue-light: #a1d6e2;
  // --clr-gray-light: #f1f1f2;

  // --clr-blue-navy-deep: #002c54;
  // --clr-red-bright: #c5001a;
  // --clr-pink-pale: #fdf6f6;

  // --clr-brown-chestnut-dark: #46211a;
  // --clr-sienna-burnt: #a43820;
  // --clr-cream-soft: #f1d3b2;

  // --clr-charcoal-dark: #2a3132;
  // --clr-rust-deep: #763626;
  // --clr-blue-sky: #90afc5;

  // @include respond(tab-landscape) {
  //   font-size: 50%;
  // }
  // @include respond(tab-portrait) {
  //   font-size: 37.5%;
  // }
  // @include respond(phone) {
  //   font-size: 25%;
  // }

  // @include respond(big-desktop) {
  //   font-size: 75%;
  // }
}

.light {
  --clr-white: #000;
  --clr-black: #fff;
  --clr-bcg-primary: #d1cfc8;
  --clr-bcg-primary-dark: #d1cfc8;
  --clr-bcg-primary-light: #deddd8;
  --clr-bcg-secondary: #dad9d3;
  --clr-bcg-secondary-dark: #bfbdb2;
  --clr-bcg-secondary-light: #e5e5e0;
  --clr-gray: #7f7f7f;
  --clr-gray-light: #2c2c2c;
  --clr-gray-dark: #949494;
  --clr-purple: #36aa00;
  --clr-purple-light: #2e9200;
  --clr-purple-dark: #54b925;
  --clr-violet: #86861d;
  --clr-violet-dark: #646416;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: var(--clr-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
