.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    @include respond(500px) {
      gap: 1rem;
    }

    button {
      background-color: $clr-violet;
      font-size: $fs-bigger;
      padding: 0.5rem 1rem;
      border-radius: 0.8rem;
      @include respond(500px) {
        font-size: $fs-regular;
      }
      @include respond(350px) {
        font-size: $fs-small;
      }

      &:hover {
        background-color: $clr-purple;
      }

      &.active {
        background-color: $clr-purple;
      }
    }
  }

  &-container {
    width: 100%;
  }

  &-users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 3rem;

    @include respond(1700px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
    @include respond(1350px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    @include respond(900px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-user {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
    padding: 3rem;
    background-color: $clr-bcg-primary;
    border-radius: 1rem;
    box-shadow: 0 0 2rem $clr-bcg-secondary-dark;

    @include respond(500px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include respond(400px) {
      padding: 1rem;
    }

    &-left {
      height: 12rem;
      width: 12rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        background-color: $clr-violet;
        color: $clr-white-1;
        width: max-content;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-transform: uppercase;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-size: $fs-bigger;
      }

      p {
        font-size: $fs-regular;
        font-weight: $fw-bold;
      }

      h5 {
        font-size: $fs-big;
      }
    }

    &-bottom {
      grid-column: 1 / -1;
      display: flex;
      gap: 2rem;
      margin-top: 3rem;

      button {
        background-color: $clr-violet;
        font-size: $fs-big;
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: $clr-purple;
        }
      }
    }

    input,
    select {
      height: 2rem;
      padding-left: 0.5rem;
    }

    .file-input {
      display: none;
    }
  }

  &-posts {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

    @include respond(1500px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
    @include respond(1000px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    @include respond(600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-post {
    background-color: $clr-bcg-primary;
    padding: 2rem 4rem;
    border-radius: 1rem;
    border: 2px solid $clr-bcg-primary-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: 0 0 4rem $clr-bcg-secondary-dark;
    box-sizing: border-box;

    &-tags {
      display: flex;
      gap: 1rem;
      padding: 2rem 0;
      flex-wrap: wrap;

      span {
        background-color: $clr-bcg-secondary-light;
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;
      }
    }

    &-btns {
      display: flex;
      gap: 1rem;

      button {
        background-color: $clr-violet;
        font-size: $fs-big;
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: $clr-purple;
        }
      }
    }

    &-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $clr-bcg-primary-dark-transparent;

      h2 {
        font-size: $fs-bigger;
        margin-bottom: 2rem;
      }

      .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $clr-bcg-primary-light;
        padding: 5rem;
        border-radius: 3rem;

        form {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          width: 60vw;

          input {
            width: calc(100% - 2.4rem);
            padding: 0.5rem 1rem;
            font-size: $fs-regular;
          }

          textarea {
            width: calc(100% - 2.4rem);
            height: 16rem;
            color: $clr-bcg-primary;
            padding: 0.5rem 1rem;
            font-size: $fs-regular;
          }

          .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .tag {
              background-color: $clr-bcg-secondary-light;
              padding: 0.4rem 1rem;
              font-size: $fs-big;
              font-weight: $fw-bold;
              border-radius: 1rem;
              position: relative;

              @include respond(700px) {
                font-size: $fs-regular;
              }

              button {
                position: absolute;
                right: -1rem;
                top: -1rem;
                font-size: $fs-big;
                background-color: $clr-purple;
                width: 2.5rem;
                height: 2.5rem;
                font-weight: $fw-bold;
                border-radius: 50%;
              }
            }
          }
          .tag-input {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            input {
              width: 30%;
              border-radius: 0.5rem;
              @include respond(700px) {
                font-size: $fs-regular;
                height: 1.5rem;
              }
            }

            button {
              background-color: $clr-violet;
              font-size: $fs-big;
              padding: 0.3rem 1rem;
              border-radius: 0.5rem;
              text-transform: uppercase;
              color: $clr-white-1;

              @include respond(700px) {
                font-size: $fs-regular;
              }

              &:hover {
                background-color: $clr-purple;
              }
            }
          }
        }

        &-btns {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2rem;

          button {
            background-color: $clr-violet;
            font-size: $fs-big;
            padding: 0.4rem 1rem;
            border-radius: 0.5rem;
            color: $clr-white-1;

            &:hover {
              background-color: $clr-purple;
            }
          }
        }
      }
    }
  }

  &-products {
    &-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $clr-bcg-primary-dark-transparent;
      @include respond(1250px) {
        overflow-y: scroll;
      }

      &-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $clr-bcg-primary-light;
        padding: 3rem 5rem;
        border-radius: 2rem;

        @include respond(1250px) {
          top: 3rem;
          transform: translate(-50%, 0);
        }
        @include respond(700px) {
          padding: 1rem 2rem;
        }

        .input-container {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          row-gap: 1rem;
          column-gap: 2rem;

          @include respond(1250px) {
            grid-template-columns: repeat(2, 1fr);
          }

          @include respond(650px) {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            width: 70vw;
          }

          & > :nth-child(1) {
            grid-row: 1;
            grid-column: span 2;

            @include respond(1250px) {
              grid-column: 1 / -1;
            }
          }

          & > :nth-child(2),
          & > :nth-child(3) {
            grid-row: 1;
            grid-column: span 2;

            @include respond(1250px) {
              grid-row: 2;
              grid-column: span 1;
            }
          }

          & > :nth-child(4),
          & > :nth-child(5) {
            grid-row: 2;
            grid-column: span 3;

            @include respond(1250px) {
              grid-row: 3;
              grid-column: span 1;
            }
          }

          & > :nth-child(6) {
            grid-column: 1 / -1;
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include respond(650px) {
              width: 100%;
            }
            label {
              text-transform: capitalize;
            }

            input {
              font-size: $fs-regular;
              padding: 0.2rem 0.5rem;

              @include respond(650px) {
                width: 100%;
              }
            }

            textarea {
              font-size: $fs-regular;
              padding: 0.2rem 0.5rem;
              color: $clr-bcg-primary;
              height: 15rem;

              @include respond(650px) {
                width: 100%;
              }
            }
          }
        }
      }

      &-images {
        display: flex;
        gap: 3rem;
        margin-top: 2rem;

        @include respond(1250px) {
          gap: 1rem;
          flex-wrap: wrap;
        }

        label {
          text-transform: capitalize;
          background-color: $clr-violet;
          padding: 0.5rem 0rem;
          width: fit-content;
          border-radius: 0.5rem;
          width: 13rem;
          text-align: center;
          font-size: $fs-regular;
          display: block;
        }

        input {
          display: none;
        }

        img {
          width: 13rem;
          height: 13rem;

          @include respond(1050px) {
            width: 10rem;
            height: 10rem;
          }
        }

        .image-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: fit-content;
          align-items: center;
        }

        .images-container {
          display: flex;
          gap: 2rem;

          @include respond(1050px) {
            gap: 1rem;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 1rem;
          }
          &-images {
            display: flex;
            justify-content: flex-start;
            gap: 2rem;

            @include respond(1050px) {
              gap: 1rem;
              flex-wrap: wrap;
            }

            .container {
              width: 13rem;
              position: relative;
              z-index: 1;

              @include respond(1050px) {
                width: 10rem;
              }

              button {
                position: absolute;
                top: 0;
                right: 0;
                background-color: $clr-violet;
                width: 3rem;
                height: 3rem;
                z-index: 10;
                font-size: $fs-big;
                font-weight: $fw-bold;
              }
            }
          }
        }
      }

      &-btn-container {
        display: flex;
        margin-top: 3rem;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        @include respond(1050px) {
          margin: 2rem 0;
        }

        button {
          padding: 0.5rem 1rem;
          font-size: $fs-big;
          background-color: $clr-violet;
          border-radius: 0.5rem;
        }
      }
    }
  }

  &-product {
    background-color: $clr-bcg-primary;
    outline: 4px solid $clr-bcg-primary-light;
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: 0 0 4rem $clr-bcg-secondary-dark;

    &-header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    img {
      width: 100%;
      height: 20rem;
      border-radius: 1rem;
      object-fit: cover;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      text-transform: capitalize;
    }

    &-btns {
      display: flex;
      gap: 1rem;

      button {
        background-color: $clr-violet;
        font-size: $fs-big;
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: $clr-purple;
        }
      }
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4rem;
      margin-top: 3rem;

      @include respond(1500px) {
        gap: 2rem;
      }
      @include respond(1350px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include respond(1100px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond(750px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &-orders {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 3rem;

    @include respond(1350px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
    @include respond(1050px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    @include respond(750px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }

  &-order {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $clr-bcg-primary-light;
    border: 2px solid $clr-bcg-secondary-light;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 4rem $clr-bcg-secondary-dark;
    @include respond(450px) {
      padding: 1rem;
    }

    &-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }

    &-title {
      font-size: $fs-regular;
    }

    &-name,
    &-email {
      font-size: $fs-big;

      @include respond(450px) {
        font-size: $fs-regular;
      }
    }

    &-date {
      font-size: $fs-regular;
      font-weight: $fw-bold;
      color: $clr-bcg-secondary-light;
    }

    &-btn {
      background-color: $clr-violet;
      padding: 1rem;
      font-size: $fs-bigger;
      border-radius: 0.5rem;
      text-transform: uppercase;
      font-weight: $fw-bold;

      &:hover {
        background-color: $clr-purple;
      }
    }
  }

  button {
    color: $clr-white-1;
  }
}
