.controls {
  position: fixed;
  right: 3rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &.loading {
    gap: 1rem;

    > :first-child {
      width: 4rem;
      height: 2.5rem;
      border-radius: 0.5rem;
      @include loadAnimation;
    }
    > :last-child {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      @include loadAnimation;
    }
  }
}

.auth {
  display: flex;
  flex-direction: column;
  width: clamp(12rem, 50%, 50rem);
  height: 100%;
  margin: 0 auto;
  gap: 1rem;
  margin-top: calc(50vh - 15rem);
  height: 28rem;

  &-radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &.loading {
    .small {
      height: 2rem;
      width: 8rem;
      border-radius: 0.3rem;
      @include loadAnimation;
    }
    .big {
      height: 3rem;
      width: 100%;
      border-radius: 0.1rem;
      @include loadAnimation;
    }
    .btn {
      width: 10rem;
      height: 4rem;
      margin: 0 auto;
      border-radius: 0.5rem;
      @include loadAnimation;
    }
  }

  & label {
    text-transform: capitalize;
  }

  & input {
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  &-btn {
    margin: 0 auto;
    background-color: $clr-violet;
    width: 40%;
    padding: 0.8rem 0;
    font-size: $fs-big;
    border-radius: 0.5rem;
    text-transform: uppercase;
    transition: all 0.2s;
    color: $clr-bcg-primary-dark;

    &:hover {
      background-color: $clr-purple;
      color: $clr-bcg-primary;
    }
  }

  &-container {
    margin: 7rem auto 0;
    width: clamp(12rem, 50%, 50rem);
    text-align: center;
    text-transform: capitalize;

    &.loading {
      height: 2rem;
      border-radius: 0.3rem;
      @include loadAnimation;
    }

    button {
      text-transform: uppercase;
      font-weight: $fw-bold;
      color: $clr-purple;
      font-size: $fs-regular;
    }
  }
}
