.blogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  @include respond(1350px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  @include respond(1000px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  @include respond(800px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  @include respond(680px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
