.blogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @include respond(tab-portrait) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }

  // @media screen and (max-width: 1000px) {
  //   grid-template-columns: repeat(3, 1fr);
  // }
}
