.cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @include normalizeForAll;

  @media (max-width: $breakpoint-xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoint-md) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  &-clear {
    font-size: $fs-giant;
    font-weight: $fw-bold;
    color: $clr-violet;
    border: 1px solid $clr-gray;
    border-radius: 0.5rem;

    @include respond(tab-portrait) {
      font-size: $fs-huge;
    }
    @include respond(phone) {
      font-size: $fs-huge-big;
    }

    @media (max-width: 768px) {
      height: 100px;
    }

    &:hover {
      background-color: $clr-bcg-primary;
      border-color: $clr-gray-dark;
      color: $clr-violet-dark;
    }
  }

  &-item {
    border: 1px solid $clr-gray;
    padding: 1rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: $clr-bcg-primary;
      border-color: $clr-gray-dark;
    }
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $clr-purple-light;
    }

    p {
      font-weight: $fw-bold;
      font-size: $fs-big;
      color: $clr-violet;

      @include respond(tab-portrait) {
        font-size: $fs-giant;
      }
      @include respond(phone) {
        font-size: $fs-huge;
      }
    }
  }
}
