.contact {
  max-width: 100rem;
  margin: 0 auto;
  background-color: $clr-bcg-secondary-dark;
  border-radius: 0.6rem;
  padding: 2rem 0;

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &-header {
      text-transform: capitalize;
    }
  }

  &-form {
    margin-top: 2rem;

    &-header {
      text-transform: capitalize;
      text-align: center;
    }

    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;

      & label {
        text-transform: capitalize;
        font-weight: 500;
      }

      & input {
        width: clamp(15rem, 30rem, 45rem);
        padding: 0.3rem;
      }

      & textarea {
        color: $clr-bcg-primary;
        width: clamp(15rem, 30rem, 45rem);
        height: 10rem;
        padding: 0.3rem;
      }

      & button {
        padding: 1rem 3rem;
        background-color: $clr-purple;
        font-weight: $fw-bold;
        margin-top: 1rem;
        border-radius: 0.6rem;
        color: $clr-white;
        text-transform: uppercase;
        font-size: $fs-regular;
        transition: all 0.3s;

        &:hover {
          background-color: $clr-purple-dark;
          color: $clr-gray-light;
          box-shadow: 1px 2px 12px $clr-bcg-secondary;
        }
      }
    }
  }
}
