.home {
  &-header {
    height: 85vh;
    background-image: linear-gradient(to right bottom, #0673c2a9, #00246ba9);
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: #fff;

      & > :first-child {
        text-align: center;
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        text-transform: uppercase;
        padding-left: 3rem;

        @include respond(900px) {
          font-size: 4rem;
          letter-spacing: 2.5rem;
        }
        @include respond(650px) {
          font-size: 3rem;
          letter-spacing: 2rem;
        }
      }

      & > :last-child {
        padding-left: 1.6rem;
        text-align: center;
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.65rem;
        text-transform: uppercase;

        @include respond(900px) {
          letter-spacing: 1rem;
        }
        @include respond(650px) {
          font-size: 1.5rem;
          letter-spacing: 0.8rem;
        }
        @include respond(520px) {
          font-size: 1.2rem;
          letter-spacing: 0.5rem;
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6rem;
      transform: translateY(-10rem);
    }

    &-btn {
      background-color: #fff;
      padding: 1rem 3rem;
      border-radius: 3rem;
      color: $clr-charcoal-2;
      margin: 0 auto;
      font-weight: $fw-bold;
      text-transform: capitalize;

      @include respond(650px) {
        font-size: $fs-regular;
        padding: 0.5rem 1rem;
      }
      @include respond(520px) {
        font-size: $fs-small;
      }
    }

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      (min-width: 125em) {
      background-image: linear-gradient(to right bottom, #0673c2a9, #00246ba9);
    }

    @include respond(tab-landscape) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    @include respond(phone) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
    }
  }

  &-heading {
    text-align: center;
    margin: 3rem 0;
    text-transform: capitalize;

    @include respond(700px) {
      font-size: $fs-big;
    }
    @include respond(500px) {
      font-size: $fs-regular;
    }
    @include respond(350px) {
      font-size: $fs-regular-small;
    }
  }

  &-features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    row-gap: 1rem;
    column-gap: 1rem;

    @include respond(1100px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(600px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .feature {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem 1.5rem;
      background-color: $clr-bcg-primary-light;

      &-heading {
        text-transform: capitalize;
      }

      svg {
        font-size: $fs-huge;
        color: $clr-violet;
      }

      h3 {
        margin: 1rem 0;
        font-size: $fs-big;

        @include respond(1350px) {
          font-size: $fs-regular;
        }
      }

      p {
        font-size: $fs-regular;
        text-align: center;
        @include respond(1350px) {
          font-size: $fs-regular-small;
        }
      }
    }
  }

  &-btn {
    display: block;
    text-align: center;
    margin: 5rem auto 1rem;
    background-color: $clr-violet;
    width: fit-content;
    font-size: $fs-bigger;
    font-weight: $fw-bold;
    color: $clr-white-1;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color 0.3s;
    text-transform: capitalize;

    @include respond(1100px) {
      font-size: $fs-big;
    }
    @include respond(1000px) {
      font-size: $fs-regular;
      padding: 0.5rem 1rem;
    }
    @include respond(500px) {
      font-size: $fs-regular-small;
    }

    &:hover {
      background-color: $clr-purple;
    }
  }
}
