.orders {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;

  @include respond(1200px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  @include respond(1000px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  @include respond(800px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  @include respond(500px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .order {
    background-color: $clr-bcg-primary;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: $clr-white-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    p {
      font-size: $fs-big;
      font-weight: $fw-bold;
    }

    button {
      background-color: $clr-violet;
      color: $clr-white-1;
      font-size: $fs-bigger;
      padding: 0.5rem 0;
      font-weight: $fw-bold;
      border-radius: 0.5rem;
    }
  }
}
