.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding: 5rem;

  .img-input {
    display: none;
  }

  .img-label {
    background-color: $clr-violet;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: $clr-white-1;

    &:hover {
      background-color: $clr-purple;
      cursor: pointer;
    }
  }

  img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    outline: 0.5rem solid $clr-violet;
    outline-offset: 0.5rem;
    margin-bottom: 1rem;
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @include respond(600px) {
      width: 100%;
    }

    label {
      font-size: $fs-big;
      font-weight: $fw-bold;
    }

    input {
      padding: 0.5rem;
      font-size: $fs-regular;
      width: 50rem;

      @include respond(600px) {
        width: 100%;
      }
    }
  }

  & button {
    padding: 1rem;
    background-color: $clr-violet;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: $fs-big;
    font-weight: $fw-bold;
    color: $clr-white-1;
    transition: all 0.2s;

    &:hover {
      background-color: $clr-purple;
      box-shadow: 2px 4px 24px $clr-bcg-primary;
    }
  }
}
