.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  padding: 5rem;

  & div {
    width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    & label {
      text-transform: capitalize;
      font-size: $fs-bigger;
    }

    & input {
      padding: 0.5rem;
      font-size: $fs-regular;
      width: 30rem;
      background-color: $clr-bcg-secondary-light;
    }
  }

  & button {
    padding: 1rem 2rem;
    background-color: $clr-purple;
    border-radius: 1rem;
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: $fs-bigger;
    color: $clr-white;
    transition: all 0.2s;

    &:hover {
      background-color: $clr-purple-dark;
      color: $clr-gray-light;
      box-shadow: 2px 4px 24px $clr-bcg-primary;
    }
  }
}
