.products {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include normalizeForAll;

  &.loading {
    transition: all;
    backface-visibility: hidden;
    border-color: $clr-gray-dark;

    .search {
      width: 100%;
      height: 3.5rem;
      @include loadAnimation;
    }
    .sort {
      width: 20rem;
      height: 3rem;
      @include loadAnimation;
    }
    .categories {
      width: 30rem;
      height: 3rem;
      @include loadAnimation;
    }
    .products {
      &-header {
        &-title {
          width: 15rem;
          height: 3rem;
          @include loadAnimation;
        }
      }
    }
  }

  &-categories {
    display: flex;
    gap: 2rem;

    h3 {
      font-size: $fs-big;
    }

    select {
      font-size: $fs-big;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      text-transform: capitalize;
      font-weight: $fw-bold;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
}
