.products {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &.loading {
    transition: all;
    backface-visibility: hidden;
    border-color: $clr-gray-dark;

    .search {
      width: 100%;
      height: 3.5rem;
      @include loadAnimation;

      @include respond(1300px) {
        height: 3rem;
      }
    }
    .sort {
      width: 20rem;
      height: 3rem;
      @include loadAnimation;
      @include respond(1300px) {
        height: 2.7rem;
      }
    }
    .categories {
      width: 30rem;
      height: 3rem;
      @include loadAnimation;
      @include respond(1300px) {
        height: 2.7rem;
      }
    }
    .products {
      &-header {
        &-title {
          width: 15rem;
          height: 3rem;
          @include loadAnimation;
          @include respond(1300px) {
            height: 2.7rem;
          }
        }
      }
    }
  }

  &-categories {
    display: flex;
    gap: 2rem;

    @include respond(800px) {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    h3 {
      font-size: $fs-big;
      @include respond(1300px) {
        font-size: $fs-regular;
      }
      @include respond(900px) {
        font-size: $fs-regular-small;
      }
      @include respond(550px) {
        font-size: $fs-small;
      }
    }

    select {
      font-size: $fs-big;
      @include respond(1300px) {
        font-size: $fs-regular;
      }
      @include respond(900px) {
        font-size: $fs-regular-small;
      }
      @include respond(550px) {
        font-size: $fs-small;
        width: 10rem;
      }

      option {
        @include respond(550px) {
          width: 10rem;
        }
      }
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      text-transform: capitalize;
      font-weight: $fw-bold;
      @include respond(1300px) {
        font-size: $fs-big;
      }
      @include respond(900px) {
        font-size: $fs-regular;
      }
      @include respond(550px) {
        font-size: $fs-regular-small;
      }
    }
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;

    @include respond(1300px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
    @include respond(1000px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    @include respond(700px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }
}
