$clr-white: #fff;
$clr-black: #000;
$clr-bcg-primary: #25262c;
$clr-bcg-primary-light: #40424d;
$clr-bcg-primary-dark: #1a1a1f;
$clr-bcg-secondary: #2e3037;
$clr-bcg-secondary-light: #7d8396;
$clr-bcg-secondary-dark: #212227;
$clr-gray: #808080;
$clr-gray-light: #d3d3d3;
$clr-gray-dark: #6b6b6b;
$clr-purple: #c955ff;
$clr-purple-light: #d16dff;
$clr-purple-dark: #ab46da;
$clr-violet: #7171e2;
$padding-section-default: 3rem;
$fs-small: 1.2rem;
$fs-regular-small: 1.4rem;
$fs-regular: 1.6rem;
$fs-big: 2rem;
$fs-bigger: 2.4rem;
$fs-huge: 5.4rem;
$fs-huge-big: 5.6rem;
$fw-bold: 600;
