.products {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-header h2 {
    text-transform: capitalize;
    font-weight: 500;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    max-width: 100rem;
    margin: 0 auto;
  }
}
