.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & input {
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: $clr-gray-light;
    padding: 0 0.5rem;
  }

  & button {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
  }
}
